<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
<title>Cadastro de Pedido</title>
</head>
<body>
	<div class="container">
    
    	<div class="p-5 mb-4 bg-light rounded-3 container-fluid py-5 display-5 fw-bold">Cadastro de Pedido</div>
    
    	<nav class="navbar navbar-expand bg-light">
	    	<div class="container-fluid">
	    		<div class="collapse navbar-collapse" id="navbarNavDropdown">
	    			<ul class="navbar-nav">
	    				<li class="nav-item">
							<a class="nav-link active" href="#">Todos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#">Aguardando</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#">Aprovando</a>
						</li>
					</ul>
				</div>
				<a href="/pedido/novo" class="text-decoration-none">
					<button class="btn btn-outline-primary d-flex">Novo</button>
				</a>
	    	</div>
    	</nav>
    </div>
</body>
</html>