<!DOCTYPE html>
<html>
<head>
<meta th:replace="~{fragments :: head}">
<style type="text/css">
html { height:100%; }
body { position:absolute; top:0; bottom:0; right:0; left:0; }
</style>
<title>Home - Mudi</title>
</head>
<body>
	<nav th:replace="~{fragments :: logo}"></nav>
	<!-- 	<section class="card mb-3"> -->
	<div class="d-flex align-items-center justify-content-center" style="border: 1px solid black;height: 80%;">
		<div class="card bg-light border-light text-center">
			<div class="card-body">
				<h5 class="card-title pb-3"><span class="fw-bold" style="font-family: 'Handlee'; font-size:1.5rem;">mudi</span> - Login</h5>
				<form th:action="@{/login}" method="post">
					<div class="form-floating mb-3">
					  <input type="text" class="form-control" name="username" id="username" placeholder="Username">
					  <label for="username">Username</label>
					</div>
					<div class="form-floating">
					  <input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="on">
					  <label for="password">Password</label>
					</div>
					<button class="btn btn-primary m-3 w-50" type="submit">Entrar</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>